<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Workout Index Page</h1>
      <div class="main-container">
        <% for(let i = 0; i < workouts.length; i++) { %>
          <div class="workout-container">
            <div class="workout-title">
              <h2><%= workouts[i].title %></h2>
            </div>
            <div class="workout-duration">
              <h2><%= workouts[i].duration %></h2>
            </div>
            <div class="workout-equipment">
              <% if(workouts[i].equipmentNeeded === true) { %>
                <h4>Equipment is needed for this workout</h4>
              <% } else { %>
                <h4>Equipment is not needed for this workout</h4>
              <% } %>
            </div>
            <div class="workout-video">
              <iframe src="<%= workouts[i].video %>" width="420" height="350"></iframe>
            </div>
          </div>
        <% } %>
      </div>
  </body>
</html>
