<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <%- include('./partials/head.ejs') %>
  </head>
  <body>
    <nav class="main-nav">
      <%- include('./partials/header.ejs') %>
    </nav>
    <div class="welcome-message">
      <h1>Hello Friends!</h1>
      <p>Welcome to the homeFit app!</p>
      <p>Since we're all at home in quarantine, I figured it would be a great time to compile some workouts to keep us staying fit and active all from the convenience of our own homes.</p>
      <p>Stay safe and have fun!</p>
    </div>
  </body>
</html>
