<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <%- include('./partials/head.ejs') %>
  </head>
  <body>
    <header>
      <nav class="main-nav">
        <div class="logo">
          <h1><a href="/homefit/index">homefit</a></h1>
        </div>
        <div class="nav-links">
          <h4><a href="/sessions/new">Log In</a></h4>
          <h4><a href="/users/new">Sign Up</a></h4>
        </div>
      </nav>
    </header>
  </body>
</html>
