<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <nav>
      <h1>homefit</h1>
    </nav>
    <div>
      <a href="#">Login</a>
      <a href="#">Sign Up</a>
    </div>
  </body>
</html>
