@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap');

* {
  font-family: 'Quicksand';
}

iframe {
  width: 15em;
  height: 10em;
}

body {
  background-color: #DDDDDA;
  margin: 0;
}

header {
  background-color: #94B0B7;
}

.main-nav {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #94B0B7;
  opacity: .9;
}

.main-container {
  margin: 5em;
}

.logo {
  padding: 0 2em;
}

.nav-links {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  font-weight: 600;
  background-color: white;
  padding: 1em;
  margin-right: 2em;
}

.nav-links > h4 {
  margin: 1em;
}

.index-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* background-color: #D3E7EE; */
}

.header-container {
  display: flex;
  justify-content: space-between;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  cursor: pointer;
  color: #7097A8;
}

.duration-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 12em;
  margin-bottom: 12em;
  font-size: 24px;
}

.index-duration-container {
  margin-top: 5em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  font-size: 24px;
}

.index-duration-selector {
  display: flex;
  margin: 2em;
}

.duration-link {
  background-color: #4A707A;
  margin: 1em;
  padding: 1em 2.5em;
  border-radius: 5px;
}

.duration-link > a {
  color: white;
}

.index-duration-selector > div:hover {
  background-color: #94B0B7;
  transition: 0.4s ease-in-out;
}

.main-container {
  display: grid;
  /* width: 100%;
  height: 100%; */
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
}

.workout-container {
  margin: 1em;
  padding: 3em 0;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
}

.workout-title {
  background-color: gray;
  font-weight: bold;
  text-align: center;
  margin-right: 0;
  margin-left: 0;
  width: 100%;
}

.workout-title > a {
  color: white;
}

.workout-duration {
  margin-bottom: 2.5em;
}

.show-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 12em 0 5em 0;
}

.show-video > iframe {
  width: 680px;
  height: 400px;
}

.show-buttons {
  display: flex;
  margin: 0 4em;
}

.show-buttons > button, .show-buttons > form > input {
  font-size: 20px;
  margin: 2em .5em 3em 0;
  padding: .5em 1em;
}

.new-form {
  margin-top: 10em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}

fieldset {
  width: 18em;
}

.new-form > fieldset > input {
  margin: 1em 0;
}
