<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <%- include('../partials/head.ejs') %>
</head>
  <body>
    <nav class="main-nav">
      <%- include('../partials/header.ejs') %>
    </nav>
    <div class="welcome-container">
      <h1 class="welcome-title">LOG IN</h1>
      <form class="" action="/sessions" method="POST">
        <label for="name">Username:</label>
        <input type="text" name="username" value="demo" demo"required/>
        <label for="password">Password:</label>
        <input type="password" name="password" value="demodemo" required/>
        <br>
        <input type="submit" value="Submit">
      </form>
    </div>
  </body>
</html>
