<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <header>
      <nav class="main-nav">
        <%- include('../partials/header.ejs') %>
      </nav>
    </header>
    <div class="container">
      <form class="" action="/users" method="POST">
        <label for="name">Username:</label>
        <input type="text" name="username" required/>
        <label for="password">Password:</label>
        <input type="text" name="password" required/>
        <br>
        <input type="submit" value="Submit">
      </form>
    </div>
  </body>
</html>
